<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet"  href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body  style="background:orange;">
    <div>
         <div class="row justify-content-center">
        <div class="form-container">
            <header class="signin-header">Email Verification</header>
            <form action="/accountSignin/email/" class="form" method="post">
                 {% csrf_token %}
                <div class="row">
                    <label>Email:</label>
                        <input id="user_email" type="email" class="form-control" name="user_email" required>
                </div>
                <input style="margin-top:20px;" type="submit" class="btn btn-primary" value="submit">
                <p>New here?<a href="/verifyEmail/"> Sign Up</a></p>
            </form>
        </div>
    </div>
    </div>
</body>
</html>